include widgets

mixin navigation
    nav.navbar.fixed-top.navbar-expand.navbar-dark.bg-primary
        span.navbar-brand.mb-0.h1.ml-3 Authority Network
        .collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                +menuItem('accounts', 'Аккаунты')#account-menu.active
                +menuItem('nodes', 'Ноды')
                +menuItem('assets', 'Ассеты')
                +menuItem('exchanges', 'Обмены')
                +menuItem('history', 'История')
                +menuItem('control', 'Управление')

            span#accounts-top-display.navbar-text.p-0.d-none
                a#accounts-display-area.nav-link.clickable
                    | Аккаунт:
                    img#accounts-top-display-image.rounded-circle.ml-2.account-memo(width='32' height='32')
                