mixin scripts
    script(src='js/sync/tunnel.js')
    script(src='js/widgets/navigation.js')
    script(src='js/widgets/loading.js')
    script(src='js/pages/accounts.js')
    script(src='js/pages/assets.js')
    script(src='js/pages/control.js')
    script(src='js/pages/exchanges.js')
    script(src='js/pages/history.js')
    script(src='js/pages/nodes.js')
