include ../components/widgets

mixin accountsPage
    #accounts.container(data-page-container)
        +containerHeader('Ваши аккаунты', 'У вас ещё нет ни одного аккаунта...')
            +pageControlButton('Создать')#accounts-create
            +pageControlButton('Импортировать')#accounts-import
        #accounts-table-container.row.mt-4.d-none
            .col
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Мемо
                            th(scope='col') Аккаунт
                            th.text-right(scope='col') Управление
                    tbody#accounts-table-body
                        tr#accounts-template-row.d-none
                            td(scope='row') 0
                            td
                                img.rounded-circle.account-memo(width='32' height='32')
                            td.align-middle ID40806df7a8a2eaaffd363bafe5898731df37be4a73b4a6e2bd5964fe107cc606
                            td.text-right
                                button.btn.btn-primary.btn-sm.mr-1(type='submit') Выбрать текущим
                                button.btn.btn-success.btn-sm.mr-1.d-none(type='submit') Текущий аккаунт
                                button.btn.btn-info.btn-sm.mr-1(type='submit') &#10515;
                                button.btn.btn-danger.btn-sm.mr-1(type='submit') &#10005;

        #accounts-export-window.modal(tabindex='-1' role='dialog')
            .modal-dialog.modal-xl.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        h5.modal-title Экспорт аккаунта
                    .modal-body
                        form
                            strong Идентификатор аккаунта
                            .form-group
                                textarea#accounts-export-account-id.form-control(rows=1 readonly)
                            strong Публичный ключ
                            .form-group
                                textarea#accounts-export-public-key.form-control(rows=3 readonly)
                            strong Приватный ключ
                            .form-group
                                textarea#accounts-export-private-key.form-control(rows=3 readonly)
                    .modal-footer
                        button#accounts-export-window-close.btn.btn-secondary(type='button') Закрыть

        #accounts-import-window.modal(tabindex='-1' role='dialog')
            .modal-dialog.modal-xl.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        h5.modal-title Экспорт аккаунта
                    .modal-body
                        form
                            strong Публичный ключ
                            .form-group
                                textarea#accounts-import-public-key.form-control(rows=3 required)
                            strong Приватный ключ
                            .form-group
                                textarea#accounts-import-private-key.form-control(rows=3 required)
                    .modal-footer
                        button#accounts-import-start.btn.btn-success(type='button') Импортировать
                        button#accounts-import-window-close.btn.btn-secondary(type='button') Закрыть

        #accounts-delete-accept-window.modal(tabindex='-1' role='dialog')
            .modal-dialog.modal-sm.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        h5.modal-title Удаление аккаунта
                    .modal-body
                        p Удалить аккаунт навсегда?
                    .modal-footer
                        button#accounts-delete-accept.btn.btn-danger(type='button') Удалить
                        button#accounts-delete-close.btn.btn-secondary(type='button') Закрыть