include ../components/widgets

mixin nodesPage
    #nodes.container.d-none(data-page-container)
        +containerHeader('Подключенные ноды', 'Не подключено ни одной ноды...')
            +pageControlButton('Подключить')(data-connect='')
        .row.mt-5
            .col
                | Вы можете подключиться к основной ноде компании
                button.btn.btn-success.btn-sm.ml-2(type='submit') Подключиться
        .row.mt-4
            .col
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Логотип
                            th(scope='col') Описание
                            th(scope='col') Мемо
                            th.text-right(scope='col' style='min-width: 160px;') Управление
                    tbody
                        tr
                            td(scope='row') 1
                            td
                                img(src='http://www.lagazzettareggina.it/wp-content/uploads/calcio-logo-napoli.jpg' width='64' height='64')
                            td
                                strong Банк Северный
                                br
                                | С помощью платежного сервиса QIWI вы можете быстро и без дополнительных затрат организовать терминальный бизнес по приему платежей в адрес более 54 000 ведущих поставщиков, в том числе операторов связи, провайдеров коммерческого телевидения и интернет, жилищно-коммунальных служб, банков, авиакомпаний, систем охранной сигнализации и многих других.
                            td
                                img.rounded-circle(style='box-shadow: 0 1px 4px rgba(0,0,0,0.4);' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAUlJREFUeAHtmqERAlEMRDkGiaQUaqAOZrBIFAqFQlLAWVqgBoqgACQeOsgTOydus9i9n0k270/CzQ2Xx/e3mPC3f96k6OPuJJ2nw0t6wF2PAe4dpvpCADnkrocA9w5TfcP7cJH2gKnnNBWg7hm5AuSwux4C3DtM9YUAcshdb0/AoL4PUOewSpi6h7QnIAaoCM79fAiYewfV/EOA6uDcz8t7ABmg7gnqnKf8cgXIIXc9BLh3mOoLAeSQu96egJXa4e91rENsa5lUir8+7ylEqbcnIAaUfDQQQ0CDJpclhoDSngYifh9wf20kG9Q5TXsAJXfcfspHcgVKexqIIaBBk8sSQ0BpTwOxPQHy+wB1zhNkFF/dE9oTEAMIQXc9BLh3mOoLAeSQu457AP2fHsGhqb8PoPwgvUWuADnkrocA9w5TfSGAHHLX2xPwB/xWMUaHPstOAAAAAElFTkSuQmCC' width='32' height='32')
                            td.text-right
                                button.btn.btn-success.btn-sm.mr-1(type='submit') Подключена
                                button.btn.btn-danger.btn-sm.mr-1(type='submit') &#10005;
                        tr
                            td(scope='row') 2
                            td
                                img(src='http://www.free-icons-download.net/images/itune-store-icon-69061.png' width='64' height='64')
                            td
                                strong Музыка каждому
                                br
                                | iTunes — лучший способ слушать музыку, смотреть фильмы, держать свою коллекцию в порядке и пополнять её, покупая новый контент. Откройте iTunes на Mac или PC и выбирайте свои развлечения.
                            td
                                img.rounded-circle(style='box-shadow: 0 1px 4px rgba(0,0,0,0.4);' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAUlJREFUeAHtmqERAlEMRDkGiaQUaqAOZrBIFAqFQlLAWVqgBoqgACQeOsgTOydus9i9n0k270/CzQ2Xx/e3mPC3f96k6OPuJJ2nw0t6wF2PAe4dpvpCADnkrocA9w5TfcP7cJH2gKnnNBWg7hm5AuSwux4C3DtM9YUAcshdb0/AoL4PUOewSpi6h7QnIAaoCM79fAiYewfV/EOA6uDcz8t7ABmg7gnqnKf8cgXIIXc9BLh3mOoLAeSQu96egJXa4e91rENsa5lUir8+7ylEqbcnIAaUfDQQQ0CDJpclhoDSngYifh9wf20kG9Q5TXsAJXfcfspHcgVKexqIIaBBk8sSQ0BpTwOxPQHy+wB1zhNkFF/dE9oTEAMIQXc9BLh3mOoLAeSQu457AP2fHsGhqb8PoPwgvUWuADnkrocA9w5TfSGAHHLX2xPwB/xWMUaHPstOAAAAAElFTkSuQmCC' width='32' height='32')
                            td.text-right
                                button.btn.btn-primary.btn-sm.mr-1(type='submit') Подключить
                        tr
                            td(scope='row') 3
                            td
                                img(src='http://icons.iconarchive.com/icons/martz90/hex/512/500px-icon.png' width='64' height='64')
                            td
                                strong Пять друзей
                                br
                                | Публичное акционерное общество «МегаФон» (MoEx: MFON), всероссийский оператор цифровых возможностей («МегаФон» или «Общество»), сообщает о том, что 17 апреля 2019 г., после предварительного уведомления Банка России, в Общество поступило направленное ООО «МегаФон Финанс» («МегаФон Финанс») требование о выкупе обыкновенных акций МегаФон у акционеров МегаФон, кроме МегаФон Финанс и его аффилированных лиц («Требование о выкупе» и «Выкуп», соответственно).
                                | 16 апреля 2019
                                | В Москве прошёл столичный этап футбольного турнира среди команд из детских домов и школ-интернатов «Будущее зависит от тебя»
                                |
                                | 13 апреля в манеже Академии «Спартака» прошла столичная часть футбольного турнира «Будущее зависит от тебя», организатором которого стала компания «МегаФон». Соревнование проходит среди команд детских домов и школ-интернатов.
                            td
                                img.rounded-circle(style='box-shadow: 0 1px 4px rgba(0,0,0,0.4);' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAUlJREFUeAHtmqERAlEMRDkGiaQUaqAOZrBIFAqFQlLAWVqgBoqgACQeOsgTOydus9i9n0k270/CzQ2Xx/e3mPC3f96k6OPuJJ2nw0t6wF2PAe4dpvpCADnkrocA9w5TfcP7cJH2gKnnNBWg7hm5AuSwux4C3DtM9YUAcshdb0/AoL4PUOewSpi6h7QnIAaoCM79fAiYewfV/EOA6uDcz8t7ABmg7gnqnKf8cgXIIXc9BLh3mOoLAeSQu96egJXa4e91rENsa5lUir8+7ylEqbcnIAaUfDQQQ0CDJpclhoDSngYifh9wf20kG9Q5TXsAJXfcfspHcgVKexqIIaBBk8sSQ0BpTwOxPQHy+wB1zhNkFF/dE9oTEAMIQXc9BLh3mOoLAeSQu457AP2fHsGhqb8PoPwgvUWuADnkrocA9w5TfSGAHHLX2xPwB/xWMUaHPstOAAAAAElFTkSuQmCC' width='32' height='32')
                            td.text-right
                                button.btn.btn-primary.btn-sm.mr-1(type='submit') Подключить
                                