include ../components/widgets

mixin nodesPage
    #nodes.container.d-none(data-page-container)
        +containerHeader('Подключенные ноды', 'Не подключено ни одной ноды...')
            +pageControlButton('Подключить')(data-connect='')#nodes-connect
        #nodes-defaults-container.row.mt-5
            .col
                | Вы можете подключиться к основной ноде компании
                button#nodes-defaults-connect.btn.btn-success.btn-sm.ml-2(type='submit') Подключиться
        #nodes-table-container.row.mt-4.d-none
            .col
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Логотип
                            th(scope='col') Описание
                            th(scope='col') Мемо
                            th.text-right(scope='col' style='min-width: 160px;') Управление
                    tbody#accounts-table-body
                        tr#nodes-template-row.d-none
                            td(scope='row') 0
                            td
                                img(width='64' height='64')
                            td
                                strong
                                br
                                span
                            td
                                img.rounded-circle.account-memo(width='32' height='32')
                            td.text-right
                                button.btn.btn-success.btn-sm.mr-1(type='submit') Подключена
                                button.btn.btn-danger.btn-sm.mr-1(type='submit') &#10005;
                                button.btn.btn-primary.btn-sm.mr-1(type='submit') Подключить

        #nodes-connect-window.modal(tabindex='-1' role='dialog')
            .modal-dialog.modal-xl.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        h5.modal-title Подключение ноды
                    .modal-body
                        form
                            strong Адрес (URL или IP)
                            .form-group
                                input#nodes-connect-string.form-control(type='text' rows=3 required)
                    .modal-footer
                        button#nodes-try-connect.btn.btn-success(type='button') Подключить
                        button#nodes-connect-window-close.btn.btn-secondary(type='button') Закрыть