include ../components/widgets

mixin assetsPage
    #assets.container.d-none(data-page-container)
        +containerHeader('Ваши ассеты', 'У вас ещё нет ни одного ассета...')
            +pageControlButton('Обновить')(data-refresh='')

        .row.mt-4
            .col
                ul.nav.nav-tabs.nav-fill
                    li.nav-item
                        a.nav-link.active.clickable На моём счете
                    li.nav-item
                        a.nav-link.clickable Все доступные
        .row.mt-4
            .col-1
                img(src='http://www.lagazzettareggina.it/wp-content/uploads/calcio-logo-napoli.jpg' width='64' height='64')
            .col-11
                h3(style='margin-top: 20px;') Банк Северный

        .row.mt-4
            .col
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Логотип
                            th(scope='col') Описание
                            th(scope='col') Баланс
                            th.text-center(scope='col' style='min-width: 0px;') Управление
                    tbody
                        tr
                            td(scope='row') 1
                            td
                                img(src='https://i1.wp.com/www.gautengsquash.co.za/wp-content/uploads/2017/03/CGS-LOGO-64X64.png?fit=267%2C268' width='64' height='64')
                            td
                                strong XMD - Вклад месячный
                                br
                                | С помощью платежного сервиса QIWI вы можете быстро и без дополнительных затрат организовать терминальный бизнес по приему платежей в адрес более 54 000 ведущих поставщиков, в том числе операторов связи, провайдеров коммерческого телевидения и интернет, жилищно-коммунальных служб, банков, авиакомпаний, систем охранной сигнализации и многих других.
                            td
                                strong 5000.00
                            td.text-right
                                button.btn.btn-primary.btn-sm.mt-1(type='submit' style='min-width: 85px;') Переслать
                                button.btn.btn-primary.btn-sm.mt-1(type='submit' style='min-width: 85px;') Обменять
                        tr
                            td(scope='row') 2
                            td
                                img(src='https://theartmad.com/wp-content/uploads/2015/05/Logos-512x512-15.png' width='64' height='64')
                            td
                                strong XYD - Вклад годовой
                                br
                                | С помощью платежного сервиса QIWI вы можете быстро и без дополнительных затрат организовать терминальный бизнес по приему платежей в адрес более 54 000 ведущих поставщиков, в том числе операторов связи, провайдеров коммерческого телевидения и интернет, жилищно-коммунальных служб, банков, авиакомпаний, систем охранной сигнализации и многих других.
                            td
                                strong 100,000.00
                            td.text-right
                                button.btn.btn-primary.btn-sm.mt-1(type='submit' style='min-width: 85px;') Переслать
                                button.btn.btn-primary.btn-sm.mt-1(type='submit' style='min-width: 85px;') Обменять

        .row.mt-4
            .col-1
                img(src='http://www.free-icons-download.net/images/itune-store-icon-69061.png' width='64' height='64')
            .col-11
                h3(style='margin-top: 20px;') Музыка каждому

        .row.mt-4
            .col
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Логотип
                            th(scope='col') Описание
                            th(scope='col') Баланс
                            th.text-center(scope='col' style='min-width: 0px;') Управление
                    tbody
                        tr
                            td(scope='row') 1
                            td
                                img(src='http://lyceum64.ru/lycphotos/round8.png' width='64' height='64')
                            td
                                strong MR200 - Альбом "Полнолуние"
                                span.badge.badge-primary.ml-1 Уникальный
                                br
                                span.badge.badge-secondary.mt-2.mb-2 7a8a2eaaffd363bafe5898731df37be4a73b4
                                br
                                | С помощью платежного сервиса QIWI вы можете быстро и без дополнительных затрат организовать терминальный бизнес по приему платежей в адрес более 54 000 ведущих поставщиков, в том числе операторов связи, провайдеров коммерческого телевидения и интернет, жилищно-коммунальных служб, банков, авиакомпаний, систем охранной сигнализации и многих других.
                            td
                                strong 1
                            td.text-right
                                button.btn.btn-primary.btn-sm.mt-1(type='submit' style='min-width: 85px;') Переслать
                                button.btn.btn-primary.btn-sm.mt-1(type='submit' style='min-width: 85px;') Обменять
                        tr
                            td(scope='row') 2
                            td
                                img(src='http://s1.iconbird.com/ico/2014/1/567/w512h5121389807746applicationdefaulticon.png' width='64' height='64')
                            td
                                strong MR482 - Альбом "Ракета"
                                span.badge.badge-primary.ml-1 Уникальный
                                span.badge.badge-warning.ml-1 Непересылаемый
                                br
                                span.badge.badge-secondary.mt-2.mb-2 7a8a2eaaffd363bafe5898731df37be4a73b4
                                br
                                | С помощью платежного сервиса QIWI вы можете быстро и без дополнительных затрат организовать терминальный бизнес по приему платежей в адрес более 54 000 ведущих поставщиков, в том числе операторов связи, провайдеров коммерческого телевидения и интернет, жилищно-коммунальных служб, банков, авиакомпаний, систем охранной сигнализации и многих других.
                            td
                                strong 1
                            td.text-right
                
                        