include ../components/widgets

mixin assetsPage
    #assets.container.d-none(data-page-container)
        +containerHeader('Ваши ассеты', 'У вас ещё нет ни одного ассета...')
            +pageControlButton('Обновить')(data-refresh='')
